/*Content*/
#content{
    display: flex;
    background-color: var(--content-bg-color);
    background-size:50vw 60vh;
    z-index: 2;
    margin-left: var(--content-left-margin);
    width: 90%;
    min-height: 80vh;
    border: var(--content-border);
    border-radius: 0 0 150px 0;
    border-top: none;
    & a {
        color: var(--content-link-color);
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;    
    }
    & a:visited {
        color: var(--content-link-visited-color)  
    }
}

/*Router Content*/
#router-content{
    width:85%;
    & p, pre, h1{
        color: var(--content-text-color);
        padding: 5px 20px;
    }
}

/*Sidebar*/
#sidebar {
    z-index: 3;
    border-left: var(--content-border);
    border-radius: 0 60px;
    height: 50%;
    margin-left: var(--content-left-margin);
    text-align: center;
    & > h2 {
        font-weight: bold;
        font-size: var(--heading-secondary-size);
        color: var(--content-text-color);
        padding: 10px
    }
    & > ul{
        
        padding-top: 10px;
        & > li {
            padding-bottom: 10px;
        }
    }
}