@import url('sidebar.css');

/*Content*/
#content{
    display: flex;
    background-color: var(--content-bg-color);
    background-size:50vw 60vh;
    z-index: 2;
    
    margin-left: var(--content-left-margin);
    width: 90%;
    min-height: 80vh;
    border: var(--content-border);
    border-radius: 0 0 50px 50px;
    border-top: none;
    & a {
        color: var(--content-link-color);
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;    
    }
    & a:visited {
        color: var(--content-link-visited-color)  
    }
}

/*Page Content*/
#page-content{
    width:85%;
    & p, pre, h1{
        color: var(--content-text-color);
        padding: 5px 20px;
    }
}

