#gallery-sub-menu-bg {
    position: relative;
    height: 40px;
    background: var(--content-border-gradient);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 95% 100%, 0% 100%);
}

#gallery-sub-menu {
    display: flex;
    position: relative;
    bottom: 40px;
}

#gallery-sub-menu > div {
    color: white;
    font-size: var(--nav-text-size);
    cursor: default;
    min-width: 100px;
    text-align: center;
    padding-top: 8px;
}

#gallery-sub-menu > div:hover {
    color: grey;
    background-color: rgba(0, 0, 0,0.3)
}

#gallery-sub-menu > div > ul {
    position: absolute;
    padding-bottom: 5px;
    background-color: var(--body-bg-color);
    clip-path: polygon(100% 0, 100% 94%, 98% 100%, 2% 100%, 0 95%, 0 0);
    & li > button {
        font-size: var(--heading-tertiary-size);
        width: 100px;
        height: 40px;
        color: white;
        border-bottom: 2px solid var(--body-bg-shadow-color);
    };
    & li > button:hover {
        color: grey;
        background-color: rgba(0, 0, 0,0.3)
    };
        & li > button:active {
        color: black;
        background-color: rgba(0, 0, 0,0.3)
    };
}

#gallery-header {
    margin: 0 0 40px 40px; 
    font-weight: bold;
    font-size: var(--heading-secondary-size);
}

.gallery-group {
    grid-template-columns: repeat(auto-fit, 320px);
}

.gallery-item{
    margin: 20px 10px 10px 20px;
    width: 300px;
    height: 190px;
    text-align: center;
    & > img {
        max-width: 300px;
        max-height: 169px;
    }
}

.gallery-item:hover {
    cursor: pointer;
}
.gallery-item:active {
    opacity: 0.5;
}

#focused-image {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: var(--modal-bg-color);
    color: white;
    text-align: center;
    & > * {
        position:relative;
        top: 10vh;
        display: block;
        margin: auto;
    }
}