#gallery-sub-menu {
    display: flex;
    background: var(--content-border-gradient);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 95% 100%, 0% 100%);
}

#gallery-sub-menu > div {
    color: white;
    font-size: var(--nav-text-size);
    cursor: default;
}
#gallery-sub-menu > div > div {
    display: block;
    background: cyan;
    position: relative;
    width: 200px;

}
.gallery-group {
    grid-template-columns: repeat(auto-fit, 320px);
}

.gallery-item{
    margin: 20px 10px 10px 20px;
    width: 300px;
    height: 190px;
    text-align: center;
    & > img {
        max-width: 300px;
        max-height: 169px;
    }
}

.gallery-item:hover {
    cursor: pointer;
}
.gallery-item:active {
    opacity: 0.5;
}

#focused-image {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: var(--modal-bg-color);
    color: white;
    text-align: center;
    & > * {
        position:relative;
        top: 10vh;
        display: block;
        margin: auto;
    }
}