@import url('reset.css');
@import url('vars.css');
@import url('nav.css');
@import url('content.css');

* {
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; 
}

body {
    height:100vh;
    z-index: 0;
    background-color: var(--body-bg-color);
    background-image: url("https://i.imgur.com/npY96ZK.jpg");
    background-repeat: no-repeat;
    background-size:100vw 130vh;
}

a, p, pre, h1, h2, h3 {
    font-family: "Iceland", sans-serif;
} 

h1{
    font-weight: bold;
    font-size: var(--heading-main-size);
}


/*Footer*/
footer{
    position: relative;
    left: 5%;
    width: 90%;
    margin-top: 20px;
    text-align:right;
    & p {
        color:var(--body-text-color);
    }
}