@import url('reset.css');
@import url('vars.css');
@import url('nav.css');
@import url('content.css');
@import url('gallery.css');

* {
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box; 
}

body {
    height:100%;
    z-index: 0;
    background-color: var(--body-bg-color);
    background-image: url("https://i.imgur.com/npY96ZK.jpg");
    background-repeat: no-repeat;
    background-size:100vw 130vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Iceland", sans-serif;
}

a, p, pre {
    font-family: "Orbitron", sans-serif;
    line-height: 1.5rem;
} 

h1{
    font-weight: bold;
    font-size: var(--heading-main-size);
}

/*Footer*/
footer{
    margin-left: var(--content-left-margin);
    width: 90%;
    margin-top: 20px;
    text-align:right;
    & p {
        color:var(--body-text-color);
    }
}