@import url('vars.css');
nav {
    margin-left: var(--content-left-margin);
    width: 90%;
    margin-top:2%; 
    background: var(--content-border-gradient);
    & li {
        text-align: center;  
        display: inline-block;
        padding: 14px 25px;
        /*Disabled the pointer events so the non-link doesn't glow up when hovered over.*/
        pointer-events: none;
    }
    & li:hover {
        background-color: black;
        opacity:0.5;
    }
    & a {
        font-size: var(--heading-secondary-size);
        text-decoration: none;
        pointer-events: auto;
    }
    & a:link, a:visited {
        color: var(--content-text-color);
    }
    & a:active{
        color:var(--nav-link-active-color);
    }
    & #active-page {
        text-decoration: none;
        pointer-events: none;
        color:var(--nav-link-active-color);
    }
}