/*Sidebar*/
#sidebar {
    overflow: hidden;
    z-index: 3;
    width:250px;
    height: 100%;
    @media(min-width: 2200px){
        width: 10%;
    }
    & > * {
        position: relative;
        left: 80%;
        transition: left 1s;
        text-align: center;
    }
    & h3 {
        font-weight: bold;
        font-size: var(--heading-secondary-size);
        padding: 10px
    }
    & ul, h3{
        margin-right: 5px;
        & li {
            padding-top: 10px;
        }
    }
}

/* #sidebar:hover > * {
    left: 0%;
} */

#sidebar-tab {
    float: left;
    background-color: var(--content-border-color);
    margin-right: 5px;
    position: relative;
    height: 250px;
    width: 20%;
    border-radius: 0 0 0 120px;
    & > h2 {
        position: relative;
        top: 50px;
        font-size: var(--heading-secondary-size);
        transform: rotate(90deg);
        text-wrap: nowrap;
    }
}