:root {
    /*BACKGROUND*/
    --body-bg-color: #224ba3;
    --content-bg-color: rgba(0, 0, 0, 0.9);
    
    /*BORDER*/
    --content-border-color: #011c66;
    --content-border-gradient-color: #0042d1;

    --content-border-gradient: linear-gradient(0deg, var(--content-border-color) 60%, var(--content-border-gradient-color) 100%);
    
    --content-border: 10px solid var(--content-border-color);

    /*TEXT*/
    --body-text-color: black;
    --content-text-color: white;
    --content-link-color: #59f4ff;
    --content-link-visited-color: #8e59ff;
    --nav-link-active-color: #4d74df;

    --nav-text-size: 32px;
    --heading-main-size: 84px;
    --heading-secondary-size: 48px;

    /* MARGIN */
    --content-left-margin: 5%
}